.burger-menu {
    font-size: 3rem;
    cursor: pointer;
    display: none;
    color: #f13033;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
    z-index: 1;
  }

  @media screen and (max-width: 750px) {
    .nav__links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 15px;
      box-sizing: border-box;
      z-index: 2; /* Añadido para que esté sobre el fondo oscuro */
      transform: translateY(-50%)
    }
  
    .nav__links.show {
      display: flex;
    }
  
    .burger-menu {
      display: block;
    }
  
    .overlay.show {
      display: block;
    }
  }
